work/
modelsim.ini
transcript
dump.vcd
*.wlf*
wlf*
.zed/settings.json
logs/

debug
transcript
vsim*
work
xcelium*
xrun.history
*.cache
*.vcd
*.runs
obj_dir
*.fst
*.wcfg
.simvision
*.wlf
wlf*
.DS_Store

*.gtkw
*.gz
fv/
*.tstamp
*.sdf
work/
*.pdf
modelsim.ini
.~lock.*
*.db
*.X
*.dsn
*.trn

*.vstf
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tiff
*.webp
xrun.key

README.md-*.svg
sdf_log.log
.zed/
__pycache__/
